{% extends 'forecast/layout.html' %}
{% block content %}
<h3>{{title}}</h3>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.10.0"> </script>
	<div id="pred1"></div><br>
	<div id="pred2"></div><br>
	<div id="pred3"></div><br>
	<div id="pred4"></div><br>
	<button onclick="predict_1([21,1]); predict_2([18,2]);predict_3([19,3]); predict_4([20,4]);graph();">Click me</button>


{% load static %}
<script src="{% static 'tensorflow/index.js' %}"></script>
	<hr>
	<div id="container" style="max-width: 100%; height: 400px; margin: 0 auto"></div>

<script>


</script>

{% endblock %}